<section id="cryptolaw-resources">
    <div class="container">
        <h3 style="color:yellow"><strong>CryptoLaw Resources</strong></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><p>
                    <p style="color:yellow">[UNDER CONSTRUCTION]</p>Here are cryptoLaw resources I have found useful
                    over the years, curated by topic with my
                    notes.</p>
                </h4>
                <br>
                <h5>
                    <strong style="color:yellow">Blockchain Governance</strong>
                    <ul>
                        <li><a href="https://twitter.com/nickszabo4/status/1009996445280169985?lang=en">Szabo's
                            Blockchain Governance Trilemma</a>
                            <p>"Blockchain governance" generally comes in only three varieties: (1) Lord of the Flies,
                                (2) lawyers, or (3) ruthlessly minimized.</p>
                        <li style="color: yellow">Against On-Chain Governance</a></li>
                        <ul>
                            <li><a href="https://medium.com/@Vlad_Zamfir/against-on-chain-governance-a4ceacd040ca">Against
                                On-Chain Governance by Vlad Zamfir</a></li>
                            <p>On-chain governance means that blockchain nodes automatically upgrade when an
                                on-chain governance process decides on an upgrade. Off-chain governance requires node
                                operators to consciously decide whether to install a hard fork; thus,
                                node operators are necessary participants in off-chain governance. On-chain governance
                                moots node operator
                                participation. Thus, with on-chain governance an important check on developer and
                                tokenholder power is lost. Users !== token holders, their interests may diverge, and in
                                general blockchains should benefit the public at large, not merely token holders. Thus,
                                plutocracy based on token ownership is undesirable. </p>
                            <li><a href="https://vitalik.ca/general/2017/12/17/voting.html">Notes on Blockchain
                                Governance Part 1 by Vitalik Buterin</a></li>
                            <p>Blockchain governance is not really a decision function, but a set of coordination
                                mechanisms. Multifactorial consensus, including but not limited to non-binding
                                tokenholder voting, is superior to both binding tokenholder voting and core developer
                                consensus without tokenholder voting. Binding tokenholder voting suffers from several
                                problems, including extra costs of minority forking, low participation, bribery attacks
                                and lack of representation of non-plutocratic interests. Digital constitutions do not
                                sufficiently mitigate these issues with voting because norms are not reducible to simple
                                edicts.</p>
                            <li><a href="https://vitalik.ca/general/2018/03/28/plutocracy.html">Notes on Blockchain
                                Governance Part 2: Plutocracy Is Still Bad by Vitalik Buterin</a></li>
                            <p>Discusses how the problems abstractly identified in Part 1 above have played out in
                                practice on the EOS blockchain network, and proposes use of better cryptoeconomic
                                designs to ameliorate such issues.</p>
                            <li><a href="https://vitalik.ca/general/2019/04/03/collusion.html">On Collusion by Vitalik
                                Buterin</a></li>
                            <p></p>
                            <li><a href="https://medium.com/@deaneigenmann/blockchains-are-not-companies-9f8ed7c13018">Blockchains
                                Are Not Companies by Dean Eigenmann</a></li>
                            <p></p>
                        </ul>
                        <li style="color: yellow">For On-Chain Governance</a></li>
                        <ul>
                            <li><a href="https://www.jofreeman.com/joreen/tyranny.htm">The Tyranny of Structurelessness
                                by Jo Freeman</a></li>
                            <p></p>
                            <li><a href="https://medium.com/polkadot-network/why-on-chain-governance-82ecf28f314c">Why
                                On-Chain Governance by Phil Lucsok</a></li>
                            <p>On-chain governance has many advantages (transparency, auditability, accountability,
                                enforceability), and the mechanisms of on-chain goverannce are not limited to
                                stake-weighted token voting. </p>
                        </ul>
                    </ul>
                    <br>
                    <strong style="color:yellow">Technical Issues Affecting Blockchain Governance</strong>
                    <ul>
                        <li style="color: yellow">The Verifier's Dilemma</a></li>
                        <ul>
                            <li><a href="https://eprint.iacr.org/2015/702.pdf">Demystifying Incentives in the Consensus
                                Computer</a></li>
                            <p>tldr: There is a dilemma for miners on blockchain networks with scripting capabilties —
                                whether to verify
                                the validity of scripted transactions or accept them without verification. Verifying
                                scripts consumes computation resources and therefore
                                delays honest miners in the race to mine the next block. This dilemma leaves open the
                                possibility of attacks which result in unverified transactions on the
                                blockchain. This means that some computation tasks outsourced to cryptocurrency-based
                                consensus computers may not execute correctly</p>
                            <li>
                                <a href=https://www.reddit.com/r/ethereum/comments/3fcw0i/verifiers_dilemma_renders_ethereum_nonincentive/ctnr542?utm_source=share&utm_medium=web2x">Vitalik's
                                    Reponse to Demystifying Incentives in the Consensus
                                    Computer</a></li>
                            <p>tldr: Ethereum miners have sufficient selfish incentive to refrain from setting a high
                                gaslimit that blocks will not take very long to verify and the verifier's dilemma will
                                not kick in.</p>
                        </ul>
                    </ul>
                </h5>
                <br>
                </h5>
            </div>
        </div>
    </div>
</section>
