<section id="projects">
    <div class="container">
       <h3 style="color:yellow"> <strong>My CryptoLaw Thought</strong></h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><p>For several years, I have worked to articulate a set of interlinked tools and concepts forming a
                    kind of "cryptolaw philosophy".</p>
                    <br>
                    <p>The below articles, presentations and legal forms projects embody these ideas.</p>
                </h4>
                <br>
                <ul>
                    <h5>
                        <li><strong style="color:yellow">Blockhain Network Tokens Are Shares of Network Equity Subject to Modified
                            Securities Regulations</strong>
                            <br><br>
                            -Blockchain network tokens are not primarily products, software licenses or currencies
                            (though they may secondarily have such functions), but shares of network equity. They are
                            subject to securities laws regulations, unless the network has become sufficiently
                            decentralized. Sufficient decentralization occurs when the tokens no longer represent
                            investment contracts and no single party or group of affiliated parties objectively controls
                            the network equity or means of block production on the network <br> <br>
                            See my series entitled "Size Does Matter: A Philosophy of Securities Laws for Tokenized
                            Networks":
                            <ul>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-1-9f83b130a451">Part
                                    1</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-2-fbcb20671b53">Part
                                    2</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-3-b378244df7d5">Part
                                    3</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-4-e66e2a242140/">Part
                                    4</a></li>
                            </ul>
                            See also:
                            <ul>
                                <li>
                                    <a href="https://medium.com/@lex_node/securities-compliance-paths-for-blockchain-projects-9f783d85a4aa?source=your_stories_page">Securities
                                        Compliance Paths for Blockchain Projects</a></li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <li><strong style="color:yellow">Tokens as Securities Certificates</strong>
                            <br><br>
                            - Tokens on public, permissionless blockchain networks function as transferable instruments
                            ('certificates') representing traditional and decentralized securities.<br><br>
                            See:
                            <ul>
                                <li><a href="https://gabrielshapiro.wordpress.com/2018/10/28/2/">Tokenizing
                                    Corporate Capital Stock: Motivations and Potential Implementations</a></li>
                                <li><a href="https://www.wyoleg.gov/Legislation/2019/HB0185">Amendments to Wyoming's
                                    Corporations Code</a>, authorizing Wyoming corporations to deploy tokenized stock
                                    certificates. I advised and assisted the Wyoming Blockchain Task Force on the
                                    drafting.
                                </li>
                                <li>The <a href="https://github.com/zerolawtech/ZAP-TechZeroLaw">ZeroLaw
                                    Org-Augmentation Protocol</a>, which implements a tokenized stock certificate system
                                    on Ethereum
                                </li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <li><strong style="color:yellow">Qualified Legal Deference to Smart Contracts</strong>
                            <br><br>
                            -Smart contracts deployed on public blockchain networks should be combined with
                            natural-language legal
                            contracts under a synergistic "qualified code deference" methodology. This will enable
                            parties to agree to abide by the results of smart contracts except in unusual circumstances
                            <br> <br>
                            See:
                            <ul>
                                <li><a href="https://github.com/metacartel/MCV/blob/master/MCV-Whitepaper.md">MetaCartel
                                    Ventures Whitepaper</a></li>
                                <li>
                                    <a href="https://github.com/lex-node/SCoDA-Simple-Code-Deference-Agreement-/blob/master/DAO%20Charter%20with%20Qualified%20Code%20Deference.md">Model
                                        DAO Charter for Unincorporated Associations</a></li>
                                <li>
                                    <a href="https://github.com/lex-node/SCoDA-Simple-Code-Deference-Agreement-/blob/master/SCoDA%20v.3.md">Simple
                                        Code Deference Agreement</a></li>
                                <li><a href="https://www.youtube.com/watch?v=hzbMPLxiht4">Drafting Wet Contracts in a
                                    Smart Contract World (Video)</a></li>
                                <li><a href="https://www.youtube.com/watch?v=2eS5g4ttQFs&t=1164s">Black-Belt Blockchain
                                    Drafting Jiu Jitsu (Video)</a></li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <li><strong style="color:yellow">Blockchain Governance</strong>
                            <br><br>
                            -Blockchain governance is best understood through the lens of "Szabo's Governance Trilemma"
                            in which governance takes one of the following three forms:
                            <br>
                            <ul>
                                <li>ruthlessly minimized</li>
                                <li>chaotic</li>
                                <li>legalistic</li>
                            </ul>
                            Each horn of the trilemma has pros and cons, but if a network will be subject to hardforks
                            which adversely affect minorities, legalistic governance is preferable to chaotic
                            governance.
                            <br> <br>
                            See:
                            <ul>
                                <li>
                                    <a href="https://medium.com/coinmonks/in-defense-of-szabos-law-for-a-mostly-non-legal-crypto-system-8f1ce2b364a6">In
                                        Defense of Szabo's Law, For a (Mostly) Non-Legal Crypto System</a></li>
                                <li>
                                    <a href="https://medium.com/@lex_node/supplemental-rebuttal-to-angela-walchs-views-on-software-devs-as-fiduciaries-f886f2b47ffd">Supplemental
                                        Rebuttal to Angela Walch's Views on Software Devs as Fiduciaries</a></li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <li><strong style="color:yellow">Podcast & Event Appearances</strong>
                            <br><br>
                            -I have made appearances at various events and on podcasts.
                            <br> <br>
                            See:
                            <ul>
                                <li>
                                    <a href="https://www.buzzsprout.com/314447/2601559">Security Token Stories Episode #14 - "DAOs, Tokenized Securities, and Sufficient Decentralization"</a></li>
                                 <li>
                                    <a href="https://anchor.fm/wizardofdapps/episodes/Episode-29-Venture-DAO-with-Ameen-Soleimani-and-Gabriel-Shapiro-ea9i3p">Wizzard of Dapps Episode 29: Venture DAO with Ameen Soleimani and Gabriel Shapiro</a></li>
                                <li>
                                    <a href="http://www.cryptolawpodcast.com/episodes/50-foot/">CryptoLaw Podcast (w/ David Gerard)</a></li>
                                <li>
                                    <a href="http://www.cryptolawpodcast.com/episodes/the-cryptolaw-podcast-interview-with-lewis-cohen-gabriel-shapiro/">CryptoLaw Podcast (w/ Lewis Cohen)</a></li>
                            </ul>
                        </li>
                    </h5>
                </ul>
            </div>
        </div>
    </div>
</section>
