<section id="projects">
    <div class="container">
        <h3>CryptoLaw Thought</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><p>For several years, I have worked to articulate a set of interlinked tools and concepts forming a
                    kind of "cryptolaw philosophy".</p>
                    </p>My key ideas are:</p>
                    <ul>
                        <br>
                        <li>smart contracts deployed on such networks should be combined with natural-language legal
                            contracts under a synergistic "qualified code deference" methodology, which will enable
                            parties to agree to abide by the results of smart contracts except in unusual circumstances
                        </li>
                        <br>
                    </ul>
                    <p>The below articles and legal forms projects embody these ideas.</p>
                </h4>
                <br>
                <ul>
                    <h5>
                        <li><strong>Blockhain Network Tokens Are Shares of Network Equity Subject to Modified
                            Securities Regulations</strong>
                            <br><br>
                            -Blockchain network tokens are not primarily products, software licenses or currencies
                            (though they may secondarily have such functions), but shares of network equity. They are
                            subject to securities laws regulations, unless the network has become sufficiently
                            decentralized. Sufficient decentralization occurs when the tokens no longer represent
                            investment contracts and no single party or group of affiliated parties objectively controls
                            the network equity or means of block production on the network <br> <br>
                            See my series entitled "Size Does Matter: A Philosophy of Securities Laws for Tokenized
                            Networks":
                            <ul>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-1-9f83b130a451">Part
                                    1</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-2-fbcb20671b53">Part
                                    2</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-3-b378244df7d5">Part
                                    3</a></li>
                                <li><a href="https://medium.com/coinmonks/size-does-matter-part-4-e66e2a242140/">Part
                                    4</a></li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <li><strong>Tokens as Securities Certificates</strong>
                            <br><br>
                            - Tokens on public, permissionless blockchain networks function as transferable instruments
                            ('certificates') representing traditional and decentralized securities.<br><br>
                            See:
                            <ul>
                                <li><a href="https://gabrielshapiro.wordpress.com/2018/10/28/2/">Tokenizing
                                    Corporate Capital Stock: Motivations and Potential Implementations</a></li>
                                <li><a href="https://www.wyoleg.gov/Legislation/2019/HB0185">Amendments to Wyoming's
                                    Corporations Code</a>, authorizing Wyoming corporations to deploy tokenized stock
                                    certificates. I advised and assisted the Wyoming Blockchain Task Force on the
                                    drafting.
                                </li>
                                <li>The <a href="https://github.com/zerolawtech/ZAP-TechZeroLaw">ZeroLaw
                                    Org-Augmentation Protocol</a>, which implements a tokenized stock certificate system
                                    on Ethereum
                                </li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                   <h5>
                        <li><strong>Qualified Legal Deference to Smart Contracts</strong>
                            <br><br>
                            -Smart contracts deployed on public blockchain networks should be combined with natural-language legal
                            contracts under a synergistic "qualified code deference" methodology. This will enable
                            parties to agree to abide by the results of smart contracts except in unusual circumstances <br> <br>
                            See:
                            <ul>
                                <li><a href="https://github.com/metacartel/MCV/blob/master/MCV-Whitepaper.md">MetaCartel Ventures Whitepaper</a></li>
                                <li><a href="https://github.com/lex-node/SCoDA-Simple-Code-Deference-Agreement-/blob/master/DAO%20Charter%20with%20Qualified%20Code%20Deference.md">Model DAO Charter for Unincorporated Associations</a></li>
                                <li><a href="https://github.com/lex-node/SCoDA-Simple-Code-Deference-Agreement-/blob/master/SCoDA%20v.3.md">Simple Code Deference Agreement</a></li>
                                <li><a href="https://www.youtube.com/watch?v=hzbMPLxiht4">Drafting Wet Contracts in a Smart Contract World (Video)</a></li>
                                <li><a href="https://www.youtube.com/watch?v=2eS5g4ttQFs&t=1164s">Black-Belt Blockchain Drafting Jiu Jitsu (Video)</a></li>
                            </ul>
                        </li>
                    </h5>
                    <br>
                    <h5>
                        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
                        - An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque
                        delicatissimi in.
                    </h5>
                    <h5>
                        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
                        - Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
                        ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
                    </h5>
                    <h5>
                        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
                        - Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
                        eam doming blandit facilisis.
                    </h5>
                    <h5>
                        <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
                        - Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
                        usu ex sapientem gubergren. Tamquam admodum ei usu.
                    </h5>
                    <h5>
                        <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
                        - Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
                        tractatos partiendo at, debet ubique oporteat ut his.
                    </h5>
                </ul>

            </div>
        </div>
    </div>
</section>
